* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
     background-color: black;
    // color: var(--gray-100);
    -webkit-font-smoothing: atialiased
}


body, input, button{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 1rem;
}