@import "tailwindcss";




@config "../../tailwind.config.js"

* {
  box-sizing: border-box;
}

body {
 -webkit-font-smoothing: atialiased
}

input:-webkit-autofill {
  transition: background-color 9999s ease-in-out 0s;
  -webkit-text-fill-color: #fff !important;
  -webkit-box-shadow: gray-500 inset;
}